
H1{
    text-align: center;
}
img{
    width: 100px;
}
.grid-layout{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10% 15% 50% 25%;
    background-color: beige;
    width: 100%;
    height: 700px;

}
.caja1{
    border: black solid 1px;
    grid-column: 1 /4;
    background-color: aqua;
}
.caja2{
    border: black solid 1px;
    grid-column: 1/ span 3;
    background-color: rgb(136, 59, 208);
}
.caja3{
    border: black solid 1px;
    grid-column: 1/ span 2;
    background-color: blue;
}
.caja4{
    border: black solid 1px;
    grid-column: 3/4;
}
.caja5{
    border: black solid 1px;
    grid-column: 1/4;
}